body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f8ff;
    color: #333333;
    margin: 0;
    padding: 0;
}


nav {
    background-color: #1e3a8a;
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center; 
}

nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffdd57;
}


h1, h2 {
    text-align: center;
}

h1 {
    color: #0f172a;
    margin-top: 30px;
    font-size: 36px;
}

h2 {
    color: #1e40af;
    font-size: 24px;
}

h3 {
    color: #1e3a8a;
    margin-top: 25px;
    text-align: left; 
    margin-left: 15%; 
}


img {
    border-radius: 15px;
    margin: 20px auto; 
    width: 150px;      
    height: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: block;    


ul {
    list-style-type: square;
    display: block;
    text-align: left;
    margin-left: 15%;
    padding-left: 20px;
    width: 70%;
}


table {
    margin: 20px 0 20px 15%;
    border-collapse: collapse;
    width: 70%;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #2563eb;
    color: white;
}

td a {
    color: #1e40af;
    text-decoration: none;
    font-weight: bold;
}

td a:hover {
    color: #ff7f50;
}
email-link {
    display: block;      
    margin-left: 15%;    
    margin-top: 10px;    
    margin-bottom: 20px; 
    color: #1e40af;      
    text-decoration: none;
    font-weight: bold;
}

email-link:hover {
    color: #ff7f50;      
    text-decoration: underline;
}





form {
    background-color: #ffffff;
    width: 50%;
    margin: 20px 0 20px 15%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    text-align: left;
}


label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    background-color: #1e3a8a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2563eb;
}


p {
    width: 70%;
    margin: 20px 0 20px 15%;
    font-size: 16px;
    line-height: 1.6;
    color: #0f172a;
    text-align: left;

}
